{% extends "base.html" %}
{% block title %}
Market Page
{% endblock %}

{% block content %}
<!-- <h1 class="text-center my-5">Market page</h1> -->
<div class="row">
    <div class="col-sm-8">
        <h3 class="text-center mt-5 mb-3">Available products in market</h3>
        <p>Click on one of the items to start buying.</p>
        <table class="table table-hover table-dark table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col" class="text-center">Barcode</th>
                    <th scope="col" class="text-center">Price</th>
                    <th scope="col" class="text-center">
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                {% include "includes/items_modals.html" %}

                <tr>
                    <td class="text-center"> {{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td class="text-center">{{ item.barcode }}</td>
                    <td class="text-center">{{ item.price }}$</td>
                    <td class="text-center">
                        <button class="btn btn-outline btn-info mr-2"
                            data-toggle="modal"
                            data-target="#Modal-MoreInfo-{{ item.id }}">
                            <i class="fas fa-info-circle"></i>
                        </button>
                        <button class="btn btn-outline btn-success"
                            data-toggle="modal"
                            data-target="#Modal-PurchaseConfirm-{{ item.id }}">
                            <i class="fas fa-cart-arrow-down"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <h3 class="text-center mt-5 mb-3">Owner products</h3>
        <p>Click on sell item to put it back on the Market</p>
        <div class="row">
            {% for owned_item in owned_items %}
            {% include "includes/owned_items_modals.html" %}
            <div class="col-md-12">
                <div style="margin-bottom: 5px"
                    class="card text-center bg-dark1">
                    <div class="card-body">
                        <h5 class="card-title">{{ owned_item.name }}</h5>
                        <button type="button" class="btn btn-outline-danger"
                            style="margin-bottom: 5px" data-toggle="modal"
                            data-target="#Modal-SellingConfirm-{{ owned_item.id }}">
                            Sell this Item
                        </button>
                        <p class="card-text"><strong>
                                This item costs {{ owned_item.price }}$
                            </strong></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
